<div th:fragment="full-bar">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a class="brand-link" style="height: 56px">
            <span class="brand-text font-weight-light">
            </span>
        </a>
        <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition"
             style="background-color: white; color: #000;">
            <div class="os-padding">
                <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                    <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <li class="nav-item">
                                    <a href="/enterprise/index" class="nav-link" style="color: #3e393e; padding-left: 24px">
                                        <i class="fa fa-building"></i>
                                        <p>
                                            Об'єкти
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/pollutant/index" class="nav-link" style="color: #3e393e; padding-left: 24px">
                                        <i class="fa fa-disease"></i>
                                        <p>
                                            Забруднюючі речовини
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/pollution/index" class="nav-link" style="color: #3e393e; padding-left: 24px">
                                        <i class="fa fa-skull"></i>
                                        <p>
                                            Забруднення
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>